// ============================================== Start Images
 $img-logo: url('../../../../assets/images/defaults/logo.png');
// ============================================== Start Icons
$i-bell-blue: url('../../../../assets/images/icons/bell-blue.svg');
$i-text-gray: url('../../../../assets/images/icons/text-gray.svg');
$i-home-blue: url('../../../../assets/images/icons/home-blue.svg');
$i-home-white: url('../../../../assets/images/icons/home-white.svg');
$i-home-blue-dark: url('../../../../assets/images/icons/home-blue-dark.svg');
$i-home-gray: url('../../../../assets/images/icons/home-gray.svg');
$i-contacts-blue: url('../../../../assets/images/icons/contacts-blue.svg');
$i-contacts-white: url('../../../../assets/images/icons/contacts-white.svg');
$i-contacts-blue-dark: url('../../../../assets/images/icons/contacts-blue-dark.svg');
$i-contacts-gray: url('../../../../assets/images/icons/contacts-gray.svg');
$i-people-blue: url('../../../../assets/images/icons/people-blue.svg');
$i-people-white: url('../../../../assets/images/icons/people-white.svg');
$i-people-blue-dark: url('../../../../assets/images/icons/people-blue-dark.svg');
$i-people-gray: url('../../../../assets/images/icons/people-gray.svg');
$i-arrow-reverse-blue: url('../../../../assets/images/icons/arrow-reverse-blue.svg');
$i-arrow-reverse-white: url('../../../../assets/images/icons/arrow-reverse-white.svg');
$i-arrow-reverse-blue-dark: url('../../../../assets/images/icons/arrow-reverse-blue-dark.svg');
$i-arrow-reverse-gray: url('../../../../assets/images/icons/arrow-reverse-gray.svg');
$i-speed-monitor-blue: url('../../../../assets/images/icons/speed-monitor-blue.svg');
$i-speed-monitor-white: url('../../../../assets/images/icons/speed-monitor-white.svg');
$i-speed-monitor-blue-dark: url('../../../../assets/images/icons/speed-monitor-blue-dark.svg');
$i-speed-monitor-gray: url('../../../../assets/images/icons/speed-monitor-gray.svg');
$i-report-edit-blue: url('../../../../assets/images/icons/report-edit-blue.svg');
$i-report-edit-white: url('../../../../assets/images/icons/report-edit-white.svg');
$i-report-edit-blue-dark: url('../../../../assets/images/icons/report-edit-blue-dark.svg');
$i-report-edit-gray: url('../../../../assets/images/icons/report-edit-gray.svg');
$i-report-view-blue: url('../../../../assets/images/icons/report-view-blue.svg');
$i-report-view-white: url('../../../../assets/images/icons/report-view-white.svg');
$i-report-view-blue-dark: url('../../../../assets/images/icons/report-view-blue-dark.svg');
$i-report-view-gray: url('../../../../assets/images/icons/report-view-gray.svg');
$i-folder-blue: url('../../../../assets/images/icons/folder-blue.svg');
$i-folder-white: url('../../../../assets/images/icons/folder-white.svg');
$i-folder-blue-dark: url('../../../../assets/images/icons/folder-blue-dark.svg');
$i-folder-gray: url('../../../../assets/images/icons/folder-gray.svg');
$i-box-circle-blue: url('../../../../assets/images/icons/box-circle-blue.svg');
$i-box-circle-white: url('../../../../assets/images/icons/box-circle-white.svg');
$i-box-circle-blue-dark: url('../../../../assets/images/icons/box-circle-blue-dark.svg');
$i-box-circle-gray: url('../../../../assets/images/icons/box-circle-gray.svg');
$i-activities: url('../../../../assets/images/icons/activities.svg');
$i-cloud: url('../../../../assets/images/icons/cloud.svg');
$i-upload: url('../../../../assets/images/icons/upload.svg');
$i-shield: url('../../../../assets/images/icons/shield.svg');
$i-eiffel-tower: url('../../../../assets/images/icons/eiffel-tower.svg');
$i-calendar-blank: url('../../../../assets/images/icons/calendar-blank.svg');
$i-calendar: url('../../../../assets/images/icons/calendar.svg');
$i-oclock: url('../../../../assets/images/icons/oclock.svg');
$i-email: url('../../../../assets/images/icons/email.svg');
$i-email-black: url('../../../../assets/images/icons/email-black.svg');
$i-account: url('../../../../assets/images/icons/account.svg');
$i-cardboard-boxblue: url('../../../../assets/images/icons/cardboard-box.svg');
$i-manged-black: url('../../../../assets/images/icons/manged-black.svg');
$i-manged-blue: url('../../../../assets/images/icons/manged-blue.svg');
$i-non-manged-blue: url('../../../../assets/images/icons/non-manged-blue.svg');
$i-non-manged-black: url('../../../../assets/images/icons/non-manged-black.svg');
$i-contact: url('../../../../assets/images/icons/contact.svg');
$i-property: url('../../../../assets/images/icons/property.svg');
$i-lead: url('../../../../assets/images/icons/lead.svg');
$i-unit: url('../../../../assets/images/icons/unit.svg');
$i-activity: url('../../../../assets/images/icons/activity.svg');
$i-sms-tag: url('../../../../assets/images/icons/sms-tag.svg');
$i-email-tag: url('../../../../assets/images/icons/email-tag.svg');
$i-whatsapp-tag: url('../../../../assets/images/icons/whatsapp-tag.svg');
// Start Background Images
$bg-login: url('../../../assets/images/pages/login/bg-login.jpg');
$bg-city: url('../../../assets/images/pages/login/city.svg');
$bg-city-shadow: url('../../../assets/images/pages/login/city-shadow.svg');
$bg-box-curve-right: url('../../../assets/images/pages/login/box-curve-right.svg');
$bg-box-curve-left: url('../../../assets/images/pages/login/box-curve-left.svg');
