.content-wrapper {
  padding-top: 6.1rem;
  @include d-flex-column;
  justify-content: space-between;
  flex: 1 1 auto;
  width: calc(100% - 227px);
  min-width: 280px;
  position: relative;
  transition-property: width;
  transition-duration: 0.18s;
  transition-timing-function: linear;
  &.is-open,
  &.is-open-side-menu {
    width: calc(100% - 606px) !important;
  }
  &.is-open-side-menu.is-open {
    width: calc(100% - 607px) !important;
  }
}
