.animated-open-close {
  position: relative;
  display: inline-flex;
  padding: 0.5rem;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 20px;
  max-width: 20px;
  background-color: $c-white;
  transition-property: max-width, min-width;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  .open-button {
    margin-left: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 2rem;
    display: flex;
    border: 1px solid #d1d1d6;
    z-index: 1;
    transform: translateX(50%);
    @include rtl {
      transform: translateX(-50%);
      margin-left: 1.3rem;
      padding-left: 0;
      padding-right: 0;
      margin-right: 0.5rem;
    }
    .mdi::before {
      color: $c-gray-dark;
    }
    &.Mui-disabled {
      .mdi::before {
        color: $c-white;
      }
    }
  }

  &.is-open {
    min-width: 250px;
    .open-close-content {
      position: fixed;
      height: 100%;
      max-width: 300px;
      min-width: 300px;
      opacity: 1;
      transition-property: max-width, opacity;
      transition-delay: 0.18s;
    }
  }

  &.on-left {
    min-height: 660px;
    .open-button {
      transform: translateX(-50%);

      @include rtl {
        transform: translateX(50%);
      }
    }
  }
  &.collabse-vertical {
    min-width: 55px;
    max-width: 55px;
    transition-property: max-width, min-width;
    .MuiButtonBase-root:not(.Mui-selected):not(.open-button) {
      color: $c-blue-lighter;
    }

    .open-close-content {
      overflow: visible;
      width: 100%;
      max-width: 170px;
      opacity: 1;
      transition-property: max-width, min-width;
    }
    &.is-open {
      max-width: 170px;
      min-width: 160px;

      .open-close-content {
        max-width: 170px;
      }
    }
  }
}
